@{
    ViewData["Title"] = "Category";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using X.PagedList.Mvc.Core;
@model X.PagedList.IPagedList<Book>
@* @model List<Book>*@
@foreach (var books in Model)
{
    @await Html.PartialAsync("PartialBook", books)
}

<div class="product__pagination">
    @Html.PagedListPager(Model, page => Url.Action("Category", new { page = page, categoryID = ViewBag.CategoryID }))
</div>






